{% extends "auctions/layout.html" %}

{% block body %}
    <h2 id="espacio">Listing Page:</h2>
    
    {% if auction.active == False %}
        <p></p>
        <p id="espacio"><b> This Auctions is no longer active</b></p>
        <p></p>
        {% if user.is_authenticated %}
            {% if auction.user != auction.winner %}
            
                {% if user  == auction.winner %}
                    <h4 id="espacio"><b>Congrats! You are the winner!!</b></h4> 
                {% endif %}

                {% if user  == auction.user %}
                    <p id="espacio"><i> The winner of this auction was <b>{{ auction.winner.username }}.</b></i></p>
                {% endif%}

            {% else %}
                <p id="espacio"><i> No one won this Auction.</b></i></p>
            {% endif %}
        {% endif %}
    {% endif %}
    
    {% if message %}
        <p></p>
        <p id="espacio"><b>{{ message }}</b></p>
        <p></p>
    {% endif %}


    <div class="container p-3 my-3 border">
    <h2 id="formularios">{{ auction.title}}</h2>
    <img src="{{ auction.image }}" alt="{{ auction.title }}" id="img2">
    <p></p>
    
    {% if user.is_authenticated %}
        {% if watch %}
            <form method="POST" autocomplete="off">
                {% csrf_token %}
                <p></p>
                <input style="display: flex; align-items: right; justify-content: right" 
                id="boton" class="btn btn-primary" name="watchremove" type="submit" value="Remove from Watchlist">
                <p></p>
            </form>
        {% else %}
            <form method="POST" autocomplete="off">
                {% csrf_token %}
                <p></p>
                <input style="display: flex; align-items: right; justify-content: right" 
                id="boton" class="btn btn-primary" name="watchlist" type="submit" value="Add to Watchlist">
                <p></p>
            </form>
        {% endif %}
    {% endif %}
    <p></p>
    </div>
    <div class="container p-3 my-3 border">
        <h5 style="padding-bottom: 20px; padding-top: 10px" id="formularios"><b>Precio: </b> ${{ auction.strongest_bid}}</h5>
        <p style="padding-bottom: 0px" id="formularios"><b>Descripción: </b></p>
        <p style="padding-bottom: 20px" id="formularios"> {{ auction.description }}</p>
        <p style="padding-bottom: 20px" id="formularios"><b>Categoría:  </b>
        {% for categoria in categorias %}
            {{ categoria.categoria }}. 
        {% endfor %}
        </p>
        {% if user.id == auction.user.id %}
            {% if auction.active == True %}  
                <form method="POST" autocomplete="off">
                    {% csrf_token %}
                    <p></p>
                    <input id="boton" class="btn btn-primary" name="close" type="submit" value="Close Auction">
                    <p></p>
                </form>
            {% else %}
                <form  method="POST" autocomplete="off">
                    {% csrf_token %}
                    <p></p>
                    <input id="boton" class="btn btn-primary" name="reopen" type="submit" value="Re-open Auction">
                    <p></p>
                </form>
            {% endif %}

        {% endif %}
    </div>

    {% if auction.active == True %}  
        {% if user.is_authenticated %}
            {% if user.id != auction.user.id %}
                <div class="container p-3 my-3 border">
                    <form  method="POST" autocomplete="off">
                        {% csrf_token %}
                        <input id="formularios" name="newbid" type="number" placeholder="Bid">
                        <p></p>
                        <input id="boton" class="btn btn-primary" type="submit" value="Place Bid">
                    </form>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}

    {% if user.is_authenticated %}
        {% if user.id != auction.user.id %}
        <div class="container p-3 my-3 border">
            <form method="POST" autocomplete="off">
                {% csrf_token %}
                <p id="formularios">Añadir un comentario: </p>
                <p><textarea id="description" name="comment" type="text"></textarea></p>
                <input id="boton" class="btn btn-primary" type="submit" value="Submit Comment">
            </form>
        </div>
        {% endif %}
    {% endif %}

    {% for comment in comments %}
        <div class="container p-3 my-3 border">
            <p style="padding-left: 20px"><b>{{ comment.user.username }}:</b></p>
            <p style="padding-left: 60px">{{ comment.comment }}</p>
            {% if comment.response %}
                <div class="container p-3 my-3 border">
                <p style="padding-left: 20px"><b>{{ auction.user }}:</b></p>
                <p style="padding-left: 60px">{{ comment.response }}</p>
                </div>
            {% else %}
                {% if user.is_authenticated %}
                    {% if user.id == auction.user.id %}
                        <div class="container p-3 my-3 border">
                        <form method="POST" autocomplete="off">
                            {% csrf_token %}
                            <p style="padding-left: 200px">Responder: </p>
                            <p><textarea style="width: 700px; height: 50px; padding-left: 5px" id="description" name="{{comment.id}}" type="text"></textarea></p>
                            <input id="boton" class="btn btn-primary" type="submit" value="Submit Response">
                        </form>
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
    <p></p>
    <a href="{% url 'index' %}" id="espacio">Back to Active Listings</a>
{% endblock %}