{% extends "auctions/layout.html" %}

{% block body %}

    <h2 id="espacio">Categories:</h2>
    <ul>
    {% for categoria in categorias %}
        <div style="padding-left: 100px" class="col-sm-4 col-md-4 col-lg-4">
            <div class="container p-3 my-3 border">
                <h5 style="display: flex; align-items: center; justify-content: center;">
                <a href="categories/{{ categoria }}">
                {{ categoria }}</a></p>
            </div>
        </div>
    {% endfor %}
    </ul>
{% endblock %}