{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Modify existing Page</h1>

    <form method="POST" autocomplete="off">
        {% csrf_token %}
        <p>Title:</p>
            <p><input name="title" type="text" value="{{ name }}"></p>
        <p></p>
        <p>Body:</p>
            <p><textarea name="body">{{ body }}</textarea></p>
        <p></p>
        <input type="submit" value="Save changes"></input>
    </form>
    

{% endblock %}